{% extends 'index.html' %}

{% block content %}



<div class="performance-overview-page row">
    <div class="orders-wrapper col-12">
        <div class="w-100 d-md-flex justify-content-between">
            <div class="page-caption">Performance Overview</div>
                        </div>

        <div class="row ">                 <!--New-status -->
            <div class="new-status-box stretch-first-row col d-none">
                <div class="bg-white-item w-100">
                    <div class="performance-body-caption">Newbie</div>
                    <div class="writer-badge-active  carousel-writer-badge badge badge-pill">your status</div>
                </div>
            </div>
            <!--END New-status-->
                                <!--Your status carousel-->
<div class="stretch-first-row col">
<div id="carouselPerformanceOverview" class="bg-white-item carousel slide" data-interval="false" data-ride="carousel" data-wrap="false">
    <a class="carousel-control-prev carousel-arrow" href="#carouselPerformanceOverview" role="button" data-slide="prev"></a>
    <a class="carousel-control-next carousel-arrow" href="#carouselPerformanceOverview" role="button" data-slide="next"></a>

    <div class="carousel-inner">

                <div class="carousel-item active ">
            <!--Carousel header-->
            <div class="carousel-caption">
                <div class="carousel-caption-lvl carousel-caption-prev">
                                         
                </div>
                <div class="carousel-mdl-caption">
                    <div class="carousel-writer-lvl">Newbie</div>
                    <div class="writer-badge-active carousel-writer-badge badge badge-pill">
                        your status
                                                </div>
                    <div class="d-block d-md-none">
                        <button class="btn-load-details btn text-body mt-2" data-load-req-renefits="" type="button">Details</button>
                    </div>
                </div>
                <div class="carousel-caption-lvl carousel-caption-next">Regular</div>
            </div>
            <!--END Carousel header-->

            <div class="carousel-body bg-gray-item">
                                                        <div class="carousel-body-benefits carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Benefits</div>
                    <ul>
                          
                            <li>New writer starter price</li>
                          
                            <li>Possibility to auto-take up to 3 orders</li>
                          
                            <li>Limited access to complicated orders</li>
                                                </ul>
                </div>
                                </div>
        </div>
                <div class="carousel-item  ">
            <!--Carousel header-->
            <div class="carousel-caption">
                <div class="carousel-caption-lvl carousel-caption-prev">
                    Newbie                     
                </div>
                <div class="carousel-mdl-caption">
                    <div class="carousel-writer-lvl">Regular</div>
                    <div class="writer-badge-close carousel-writer-badge badge badge-pill">
                        higher status   
                                                </div>
                    <div class="d-block d-md-none">
                        <button class="btn-load-details btn text-body mt-2" data-load-req-renefits="" type="button">Details</button>
                    </div>
                </div>
                <div class="carousel-caption-lvl carousel-caption-next">Regular Plus</div>
            </div>
            <!--END Carousel header-->

            <div class="carousel-body bg-gray-item">
                                    <div class="carousel-body-requirements carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Requirements</div>
                    <ul>
                          
                            <li>Approved orders 15</li>
                          
                            <li>No issues with quality, lateness, plagiarism, following client's instructions</li>
                                                </ul>
                </div>
                                                        <div class="carousel-body-benefits carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Benefits</div>
                    <ul>
                          
                            <li>Base pricing</li>
                          
                            <li>You can set your own bids</li>
                          
                            <li>No auto-take option</li>
                          
                            <li>Access to all available orders in the system</li>
                                                </ul>
                </div>
                                </div>
        </div>
                <div class="carousel-item  ">
            <!--Carousel header-->
            <div class="carousel-caption">
                <div class="carousel-caption-lvl carousel-caption-prev">
                    Regular                     
                </div>
                <div class="carousel-mdl-caption">
                    <div class="carousel-writer-lvl">Regular Plus</div>
                    <div class="writer-badge-close carousel-writer-badge badge badge-pill">
                        higher status   
                                                </div>
                    <div class="d-block d-md-none">
                        <button class="btn-load-details btn text-body mt-2" data-load-req-renefits="" type="button">Details</button>
                    </div>
                </div>
                <div class="carousel-caption-lvl carousel-caption-next">Regular Plus I</div>
            </div>
            <!--END Carousel header-->

            <div class="carousel-body bg-gray-item">
                                    <div class="carousel-body-requirements carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Requirements</div>
                    <ul>
                          
                            <li>Approved orders 15</li>
                          
                            <li>Positive rates from clients</li>
                          
                            <li>No issues with quality, lateness, plagiarism, following client's instructions</li>
                          
                            <li>Always reachable and responsive</li>
                                                </ul>
                </div>
                                                        <div class="carousel-body-benefits carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Benefits</div>
                    <ul>
                          
                            <li>Base pricing</li>
                          
                            <li>You can set your own bids</li>
                          
                            <li>Possibility to auto-take up to 3 orders</li>
                          
                            <li>Access to all available orders in the system</li>
                          
                            <li>Auto-delivery of the final work</li>
                                                </ul>
                </div>
                                </div>
        </div>
                <div class="carousel-item  ">
            <!--Carousel header-->
            <div class="carousel-caption">
                <div class="carousel-caption-lvl carousel-caption-prev">
                    Regular Plus                     
                </div>
                <div class="carousel-mdl-caption">
                    <div class="carousel-writer-lvl">Regular Plus I</div>
                    <div class="writer-badge-close carousel-writer-badge badge badge-pill">
                        higher status   
                                                </div>
                    <div class="d-block d-md-none">
                        <button class="btn-load-details btn text-body mt-2" data-load-req-renefits="" type="button">Details</button>
                    </div>
                </div>
                <div class="carousel-caption-lvl carousel-caption-next">Regular Plus II</div>
            </div>
            <!--END Carousel header-->

            <div class="carousel-body bg-gray-item">
                                    <div class="carousel-body-requirements carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Requirements</div>
                    <ul>
                          
                            <li>Approved orders 150</li>
                          
                            <li>Lateness rate below  20%</li>
                          
                            <li>No issues with quality, lateness, plagiarism, following client's instructions</li>
                          
                            <li>No Disputes / Claims / Complaints for the last 2 months</li>
                                                </ul>
                </div>
                                                        <div class="carousel-body-benefits carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Benefits</div>
                    <ul>
                          
                            <li>Base pricing</li>
                          
                            <li>You can set your own bids</li>
                          
                            <li>Possibility to auto-take up to 5 orders</li>
                          
                            <li>Access to all available orders in the system</li>
                          
                            <li>Auto-delivery of the final work</li>
                                                </ul>
                </div>
                                </div>
        </div>
                <div class="carousel-item  ">
            <!--Carousel header-->
            <div class="carousel-caption">
                <div class="carousel-caption-lvl carousel-caption-prev">
                    Regular Plus I                     
                </div>
                <div class="carousel-mdl-caption">
                    <div class="carousel-writer-lvl">Regular Plus II</div>
                    <div class="writer-badge-close carousel-writer-badge badge badge-pill">
                        higher status   
                                                </div>
                    <div class="d-block d-md-none">
                        <button class="btn-load-details btn text-body mt-2" data-load-req-renefits="" type="button">Details</button>
                    </div>
                </div>
                <div class="carousel-caption-lvl carousel-caption-next">Regular Plus III</div>
            </div>
            <!--END Carousel header-->

            <div class="carousel-body bg-gray-item">
                                    <div class="carousel-body-requirements carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Requirements</div>
                    <ul>
                          
                            <li>Approved orders 300</li>
                          
                            <li>Lateness rate below  20%</li>
                          
                            <li>No issues with quality, lateness, plagiarism, following client's instructions</li>
                          
                            <li>No Disputes / Claims / Complaints for the last 2 months</li>
                                                </ul>
                </div>
                                                        <div class="carousel-body-benefits carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Benefits</div>
                    <ul>
                          
                            <li>Base price increase by 3%</li>
                          
                            <li>You can set your own bids</li>
                          
                            <li>Possibility to auto-take up to 5 orders</li>
                          
                            <li>Access to all available orders in the system</li>
                          
                            <li>Auto-delivery of the final work</li>
                                                </ul>
                </div>
                                </div>
        </div>
                <div class="carousel-item  ">
            <!--Carousel header-->
            <div class="carousel-caption">
                <div class="carousel-caption-lvl carousel-caption-prev">
                    Regular Plus II                     
                </div>
                <div class="carousel-mdl-caption">
                    <div class="carousel-writer-lvl">Regular Plus III</div>
                    <div class="writer-badge-close carousel-writer-badge badge badge-pill">
                        higher status   
                                                </div>
                    <div class="d-block d-md-none">
                        <button class="btn-load-details btn text-body mt-2" data-load-req-renefits="" type="button">Details</button>
                    </div>
                </div>
                <div class="carousel-caption-lvl carousel-caption-next">Regular Plus IV</div>
            </div>
            <!--END Carousel header-->

            <div class="carousel-body bg-gray-item">
                                    <div class="carousel-body-requirements carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Requirements</div>
                    <ul>
                          
                            <li>Approved orders 500</li>
                          
                            <li>Lateness rate below  20%</li>
                          
                            <li>No issues with quality, lateness, plagiarism, following client's instructions</li>
                          
                            <li>No Disputes / Claims / Complaints for the last 2 months</li>
                                                </ul>
                </div>
                                                        <div class="carousel-body-benefits carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Benefits</div>
                    <ul>
                          
                            <li>Base price increase by 5%</li>
                          
                            <li>You can set your own bids</li>
                          
                            <li>Possibility to auto-take up to 5 orders</li>
                          
                            <li>Access to all available orders in the system</li>
                          
                            <li>Auto-delivery of the final work</li>
                                                </ul>
                </div>
                                </div>
        </div>
                <div class="carousel-item  ">
            <!--Carousel header-->
            <div class="carousel-caption">
                <div class="carousel-caption-lvl carousel-caption-prev">
                    Regular Plus III                     
                </div>
                <div class="carousel-mdl-caption">
                    <div class="carousel-writer-lvl">Regular Plus IV</div>
                    <div class="writer-badge-close carousel-writer-badge badge badge-pill">
                        higher status   
                                                </div>
                    <div class="d-block d-md-none">
                        <button class="btn-load-details btn text-body mt-2" data-load-req-renefits="" type="button">Details</button>
                    </div>
                </div>
                <div class="carousel-caption-lvl carousel-caption-next">Advanced</div>
            </div>
            <!--END Carousel header-->

            <div class="carousel-body bg-gray-item">
                                    <div class="carousel-body-requirements carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Requirements</div>
                    <ul>
                          
                            <li>Approved orders 1000</li>
                          
                            <li>Lateness rate below  20%</li>
                          
                            <li>No issues with quality, lateness, plagiarism, following client's instructions</li>
                          
                            <li>No Disputes / Claims / Complaints for the last 2 months</li>
                                                </ul>
                </div>
                                                        <div class="carousel-body-benefits carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Benefits</div>
                    <ul>
                          
                            <li>Base price increase by 7%</li>
                          
                            <li>You can set your own bids</li>
                          
                            <li>Possibility to auto-take up to 5 orders</li>
                          
                            <li>Access to all available orders in the system</li>
                          
                            <li>Auto-delivery of the final work</li>
                                                </ul>
                </div>
                                </div>
        </div>
                <div class="carousel-item  ">
            <!--Carousel header-->
            <div class="carousel-caption">
                <div class="carousel-caption-lvl carousel-caption-prev">
                    Regular Plus IV                     
                </div>
                <div class="carousel-mdl-caption">
                    <div class="carousel-writer-lvl">Advanced</div>
                    <div class="writer-badge-close carousel-writer-badge badge badge-pill">
                        higher status   
                                                </div>
                    <div class="d-block d-md-none">
                        <button class="btn-load-details btn text-body mt-2" data-load-req-renefits="" type="button">Details</button>
                    </div>
                </div>
                <div class="carousel-caption-lvl carousel-caption-next">Advanced Plus</div>
            </div>
            <!--END Carousel header-->

            <div class="carousel-body bg-gray-item">
                                    <div class="carousel-body-requirements carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Requirements</div>
                    <ul>
                          
                            <li>Positive rates from clients</li>
                          
                            <li>No issues with quality, lateness, plagiarism, following client's instructions</li>
                          
                            <li>Always reachable and responsive</li>
                                                </ul>
                </div>
                                                        <div class="carousel-body-benefits carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Benefits</div>
                    <ul>
                          
                            <li>Base pricing</li>
                          
                            <li>You can set your own bids</li>
                          
                            <li>Possibility to auto-take up to 10 orders</li>
                          
                            <li>Access to all available orders in the system</li>
                          
                            <li>Auto-delivery of the final work</li>
                                                </ul>
                </div>
                                </div>
        </div>
                <div class="carousel-item  ">
            <!--Carousel header-->
            <div class="carousel-caption">
                <div class="carousel-caption-lvl carousel-caption-prev">
                    Advanced                     
                </div>
                <div class="carousel-mdl-caption">
                    <div class="carousel-writer-lvl">Advanced Plus</div>
                    <div class="writer-badge-close carousel-writer-badge badge badge-pill">
                        higher status   
                                                </div>
                    <div class="d-block d-md-none">
                        <button class="btn-load-details btn text-body mt-2" data-load-req-renefits="" type="button">Details</button>
                    </div>
                </div>
                <div class="carousel-caption-lvl carousel-caption-next">PRO Light</div>
            </div>
            <!--END Carousel header-->

            <div class="carousel-body bg-gray-item">
                                    <div class="carousel-body-requirements carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Requirements</div>
                    <ul>
                          
                            <li>Minimum 3 months of active work</li>
                          
                            <li>Lateness rate is 10% or lower</li>
                          
                            <li>At least 30 quality pages monthly</li>
                          
                            <li>At least 10 Urgent and Help Needed orders monthly</li>
                          
                            <li>Always reachable and responsive</li>
                          
                            <li>No issues with quality, lateness, plagiarism, following client's instructions</li>
                          
                            <li>No Disputes / Claims / Complaints for the last 2 months</li>
                                                </ul>
                </div>
                                                        <div class="carousel-body-benefits carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Benefits</div>
                    <ul>
                          
                            <li>Base price increase by 10%</li>
                          
                            <li>You can set your own bids</li>
                          
                            <li>Possibility to auto-take up to 10 orders</li>
                          
                            <li>Access to all available orders in the system</li>
                          
                            <li>Auto-delivery of the final work</li>
                                                </ul>
                </div>
                                </div>
        </div>
                <div class="carousel-item  ">
            <!--Carousel header-->
            <div class="carousel-caption">
                <div class="carousel-caption-lvl carousel-caption-prev">
                    Advanced Plus                     
                </div>
                <div class="carousel-mdl-caption">
                    <div class="carousel-writer-lvl">PRO Light</div>
                    <div class="writer-badge-close carousel-writer-badge badge badge-pill">
                        higher status   
                                                </div>
                    <div class="d-block d-md-none">
                        <button class="btn-load-details btn text-body mt-2" data-load-req-renefits="" type="button">Details</button>
                    </div>
                </div>
                <div class="carousel-caption-lvl carousel-caption-next">PRO</div>
            </div>
            <!--END Carousel header-->

            <div class="carousel-body bg-gray-item">
                                    <div class="carousel-body-requirements carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Requirements</div>
                    <ul>
                          
                            <li>Positive rates from clients</li>
                          
                            <li>At least 70 quality pages monthly</li>
                          
                            <li>At least 20 Urgent and Help Needed orders monthly</li>
                          
                            <li>Always reachable and responsive</li>
                          
                            <li>No issues with quality, lateness, plagiarism, following client's instructions</li>
                          
                            <li>No Disputes / Claims / Complaints for the last 2 months</li>
                                                </ul>
                </div>
                                                        <div class="carousel-body-benefits carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Benefits</div>
                    <ul>
                          
                            <li>Base price increase by 15%</li>
                          
                            <li>Possibility to auto-take up to 15 orders</li>
                          
                            <li>Access to all available orders in the system</li>
                          
                            <li>Auto-delivery of the final work</li>
                                                </ul>
                </div>
                                </div>
        </div>
                <div class="carousel-item  ">
            <!--Carousel header-->
            <div class="carousel-caption">
                <div class="carousel-caption-lvl carousel-caption-prev">
                    PRO Light                     
                </div>
                <div class="carousel-mdl-caption">
                    <div class="carousel-writer-lvl">PRO</div>
                    <div class="writer-badge-close carousel-writer-badge badge badge-pill">
                        higher status   
                                                </div>
                    <div class="d-block d-md-none">
                        <button class="btn-load-details btn text-body mt-2" data-load-req-renefits="" type="button">Details</button>
                    </div>
                </div>
                <div class="carousel-caption-lvl carousel-caption-next"></div>
            </div>
            <!--END Carousel header-->

            <div class="carousel-body bg-gray-item">
                                    <div class="carousel-body-requirements carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Requirements</div>
                    <ul>
                          
                            <li>Positive rates from clients</li>
                          
                            <li>At least 100 quality pages monthly</li>
                          
                            <li>At least 20 Urgent and Help Needed orders monthly</li>
                          
                            <li>Always reachable and responsive</li>
                          
                            <li>No issues with quality, lateness, plagiarism, following client's instructions</li>
                          
                            <li>No Disputes / Claims / Complaints for the last 2 months</li>
                                                </ul>
                </div>
                                                        <div class="carousel-body-benefits carousel-body-item radius-20 bg-white-item">
                    <div class="performance-body-caption">Benefits</div>
                    <ul>
                          
                            <li>Base price increase by 25%</li>
                          
                            <li>Possibility to auto-take up to 15 orders</li>
                          
                            <li>Access to all available orders in the system</li>
                          
                            <li>Auto-delivery of the final work</li>
                                                </ul>
                </div>
                                </div>
        </div>
    
    </div>
</div>
</div>
<!--END Your status carousel-->                                        <div class="promotion-col stretch-first-row col">
                    <div class="bg-white-item">
                        <div class="d-flex justify-content-between">
                            <div class="performance-body-caption">Get a Promotion</div>
                            <div class="order-option-tooltip" data-toggle="modal" data-target="#ModalPromotionInfo"></div>
                        </div>
                        <p class="mb-2">You are learning on the fly and feeling that the quality of your performance deserves to break a new ground? Then it is a time to consider upgrading your account.</p> 
                        <p><strong>Check if you meet our requirements and apply for a promotion.</strong></p>
                        <button class="submit_btn btn-custom" 
                                data-toggle="modal" data-target="#ModalGetPromotion" 
                                
                                                                        disabled="disabled" 
                                    
                                                                                data-tooltip="Your account will be checked for promotion within a week after the requirement on approved orders is met."
                                                                        
                                                                    type="button">Get a Promotion</button>
                    </div>
                </div>
                                                
        </div>

        <div class="row">
            <!--Completed Orders Stats-->
            <div class="completed-orders-stats table-light-box col-md-6 col-12">
                <div class="bg-white-item">
                    <div class="caption-badge-blue caption-badge badge badge-pill">Completed Orders Stats</div>
                    <div class="table-light">
                        <div class="table-light-row d-flex justify-content-between align-items-center">
                            <div class="table-light-caption">Approved orders (total)</div>
                            <div class="table-light-value">20</div>
                        </div>

                        <div class="table-light-row d-flex justify-content-between align-items-center">
                            <div class="table-light-caption">Approved orders (16+ pages)</div>
                            <div class="table-light-value">0</div>
                        </div>

                        <div class="table-light-row d-flex justify-content-between align-items-center">
                            <div class="table-light-caption">Approved orders (urgent)</div>
                            <div class="table-light-value">0</div>
                        </div>

                        <div class="table-light-row d-flex justify-content-between align-items-center">
                            <div class="table-light-caption">Total income</div>
                            <div class="table-light-value">$160.7</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END Completed Orders Stats-->

            <!--Performance Indicators-->
            <div class="performance-indicators-box table-light-box col-md-6 col-12">
                <div class="bg-white-item">
                    <div class="caption-badge-blue caption-badge badge badge-pill">Performance Indicators</div>
                    <div class="table-light">
                        <div class="table-light-row d-flex justify-content-between align-items-center">
                            <div class="table-light-caption">Lateness level</div>
                                                                                                                                                                            
                                                            <div class="table-value-progress table-light-value d-flex">
                                <div class="progress-bar-wrap progress-bar-red">                
                                    <div class="progress-persent" style="width: 0.00%"></div>                
                                </div>
                                0.00%
                            </div>
                        </div>

                        <div class="table-light-row d-flex justify-content-between align-items-center">
                            <div class="table-light-caption">Total number of revisions</div>
                            <div class="table-light-value">1</div>
                        </div>

                        <div class="table-light-row d-flex justify-content-between align-items-center">
                            <div class="table-light-caption">Revision rate</div>
                            <div class="table-value-progress table-light-value d-flex">
                                
                                <div class="progress-bar-wrap progress-bar-red">                
                                    <div class="progress-persent" style="width: 0.00%"></div>                
                                </div>
                                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Based on all approved orders">
                                    0.00%
                                </span>
                            </div>
                        </div>

                        <div class="table-light-row d-flex justify-content-between align-items-center">
                            <div class="table-light-caption">Confirmation rate (auto-assigned orders)</div>
                            <div class="table-value-progress table-light-value d-flex">
                                <div class="progress-bar-wrap">                
                                    <div class="progress-persent" style="width: 0.00%"></div>                
                                </div>
                                0.00%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END Performance Indicators-->

            <!--Quality Controls-->
            <div class="quality-controls-box table-light-box stretch-second-row col-md-6 col-12">
                <div class="bg-white-item w-100">
                    <div class="caption-badge-blue caption-badge badge badge-pill">Quality Controls: <span class="count-performance">0</span></div>
                    <div class="light-box-body">
                                                    <!--NO Quality Controls-->
                        <div class="light-box-empty">
                            <p class="light-empty-caption mb-3 text-center"><strong>No Quality Controls noticed.</strong></p>
                            <p class="text-center">You're doing great!</p>
                        </div>
                        <!--END NO Quality Controls-->
                                                </div>
                </div>
            </div>
            <!--END Quality Controls-->

            <!--Warnings-->
            <div class="warnings-preference-box table-light-box stretch-second-row col-md-6 col-12">
                <div class="bg-white-item w-100">
                    <div class="caption-badge-blue caption-badge badge badge-pill">Warnings: <span class="count-performance">1</span></div>
                    <div class="light-box-body">
                                                    <div class="table-border-bottom">
                            <div class="table-sticky-thead">
                                <div class="table-th">Date</div>
                                <div class="table-th">Reason</div>
                                <div class="table-th">Order ID</div>
                            </div>
                            <div class="table-tbody">
                                                                        <div class="table-tbody-tr">
                                        <div class="table-tbody-td">Dec 26 2023 <span class="time-mob-hidden">11:39 AM</span></div>
                                        <div class="table-tbody-td">Plagiarism</div>
                                        <div class="table-tbody-td table-sort-list">
                                                                                                                                                        
                                                    <a href="/my_orders?subcom=detailed&id=404197887" target="_blank" class="table-tbody-td link-underline">404197887</a>
                                                                                                        
                                                    <a href="/my_orders?subcom=detailed&id=404044019" target="_blank" class="table-tbody-td link-underline">404044019</a>
                                                                                                                                            </div>
                                    </div>
                                                                                                                                        
                            </div>
                        </div>
                                                </div>
                </div>
            </div>
            <!--END Warnings-->

            <!--Demotions-->
            <div class="demotions-box table-light-box stretch-second-row col-md-6 col-12">
                <div class="bg-white-item w-100">
                    <div class="d-flex justify-content-between">
                        <div class="caption-badge-blue caption-badge badge badge-pill">Demotions: <span class="count-performance">0</span></div>
                        <div class="order-option-tooltip" data-toggle="modal" data-target="#ModalDemotions"></div>
                    </div>

                    <div class="light-box-body">
                                                    <!--NO Demotions-->
                        <div class="light-box-empty">
                            <p class="light-empty-caption mb-3 text-center"><strong>No Account Downgrades took place here. </strong></p>
                            <p class="text-center">Good job!</p>
                        </div>
                        <!--END NO Demotions-->
                                                </div>
                </div>
            </div>
            <!--END Demotions-->

            <!--Fines-->
            <div class="fines-box table-light-box stretch-second-row col-md-6 col-12">
                <div class="bg-white-item w-100">
                    <div class="max-height-box">
                        <div class="performance-body-caption">Fines</div>
                        <p>Fine is a penalty for violation of the Company's standards and requirements to Products, or not fulfilling the Writer's liabilities. Do your best to perform faultlessly to avoid being familiar with the following set of clauses:</p>
                        <table class="table-colored w-100">
                            <tbody>
                                <tr>
                                    <td><strong>Clause 6.1.1.</strong> Plagiarism</td>
                                    <td><strong>50% of the Order price</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Clause 6.1.2.</strong> Wrong formatting</td>
                                    <td><strong>15% of the Order price</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Clause 6.1.3.</strong> Grammar and punctuation mistakes</td>
                                    <td><strong>25% of the Order price</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Clause 6.1.4.</strong> Writer is not reachable</td>
                                    <td><strong>$1 fine </strong></td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li><strong>Clause 6.1.5.</strong> Lateness</li>
                                            <li>Lateness with the delivery of the 1st part of the paper</li>
                                            <li>Lateness for less than 1 hour </li>
                                            <li>Lateness for more than 1 hour </li>
                                            <li>Lateness with revision</li>
                                            <li>Wrong / incomplete paper provided as a final version </li>
                                            <li>The deadline was missed and the client does not need the order anymore </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li><strong>Depends on the case</strong></li>
                                            <li><strong>10% of the Order price</strong></li>
                                            <li><strong>15% of the Order price</strong></li>
                                            <li><strong>25% of the Order price</strong></li>
                                            <li><strong>25% of the Order price</strong></li>
                                            <li><strong>15% of the Order price</strong></li>
                                            <li><strong>25% of the Order price</strong></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li><div><strong>Clause 6.1.6.</strong> Retraction from the Order</div></li>
                                            <li>Less than 30% of the deadline passed </li>
                                            <li>More than 30% of the deadline passed </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li><strong>Depends on the case</strong></li>
                                            <li><strong>No fine</strong></li>
                                            <li><strong>50% of the Order price</strong></li>
                                        </ul>                               
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <ul>
                                            <li><strong>Clause 6.1.7.</strong> Low quality</li>
                                            <li>The client files a complaint regarding the quality of the delivered work </li>
                                            <li>The delivered work does not meet the Company’s standards and requirements </li>
                                        </ul>
                                    </td>

                                    <td>
                                        <ul>
                                            <li><strong>Depends on the case</strong></li>
                                            <li><strong>25% of the Order price</strong></li>
                                            <li>
                                                <strong>
                                                    100% of the Order price<br class="d-none d-md-block">
                                                    (Quality Assurance Department is obliged to provide detailed reasons)
                                                </strong>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>                               
                                <tr>
                                    <td><strong>Clause 6.1.8.</strong> Business communication standards not followed </td>
                                    <td><strong>$1 fine</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Clause 6.1.9.</strong> Order instructions not checked before application</td>
                                    <td><strong>10% of the Order price</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Clause 6.2.</strong> Refund to the Client due to writer's actions/lack of actions</td>
                                    <td><strong>100% of the Order price</strong></td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li><div><strong>Clause 6.3.</strong> Violation of Liabilities of the Company and the Writer:</div></li>
                                            <li>1. Violation of information confidentiality related to Orders</li>
                                            <li>2. Delivered Product is sold / shared / donated to any third parties. </li>
                                            <li>3. Working under multiple or fake Accounts (user names) </li>
                                            <li>4. Transfer economic intellectual property rights for all the submitted Products to the Company. </li>
                                            <li>5. Participation in any online assignment instead of our Client/ log in to any online assignment on the Client's behalf. </li>
                                            <li>6. Use of any additional software that is aimed to cheat the system influencing the functionality of the system</li>
                                        </ul>
                                    </td>
                                    <td><strong>100% of the Order price AND termination of the account</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Clause 6.4.</strong> Claim initiated by the Client due to writer's actions/ lack of actions </td>
                                    <td><strong>200% of the Order price</strong></td>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <li><strong>Clause 7.</strong> Disputes</li>
                                            <li>Plagiarism </li>
                                            <li>Wrong paper uploaded by the writer</li>
                                            <li>The instructions were not followed </li>
                                            <li>Multiple Choice Question assignments results below 80%</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li><strong>Depends on the case</strong></li>
                                            <li><strong>200% of the Order price </strong></li>
                                            <li><strong>100% of the Order price </strong></li>
                                            <li><strong>100% of the Order price </strong></li>
                                            <li><strong>Salary will be recalculated depending on the percentage of the correct answers</strong></li>
                                        </ul>
                                    </td>
                                </tr>                               
                            </tbody>
                        </table>
                        <p class="text-body">Detailed information on Fines along with the obligations of the Company and the Writer can be found in <a href="http://www.writerbay.com/agreements.html" class="link-underline text-body"><strong>Terms of Use</strong></a>.</p>
                    </div> 
                </div>
            </div>
            <!--END Fines-->

            <!--Reviews-->
            <div class="performance-rate-wrap col-12">
                <div class="bg-white-item w-100 d-flex justify-content-center">
                    <div class="performance-rate-inner d-flex" data-feedback-block="">
                        
                    </div>
                </div>                   
            </div>
            <!--END Reviews-->

        </div>

    </div>
</div>




{% endblock %}
